form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 5vh;

    div {
        display: flex;
        gap: 2vw;
        input {
            width: 50%;
        }
    }

    input,
    textarea {
        margin-bottom: 3vh;
        padding: 1% 3%;
        font-family: Moderne Sans;
        background-color: #fff8ed;
        border: 0.5px solid black;
    }

    #warning {
        margin: 1vh auto 5vh auto;
        font-family: Moderne Sans;
        color: red;
        font-size: 0.7rem;
    }

    button {
        background-color: #333333;
        border: none;
        border-radius: 5px;
        padding: 2vh 5vw;
        color: #fff8ed;
        font-family: SuperMario;
        font-size: 1.2rem;
        width: fit-content;
        margin: auto;
    }
}
